@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

    /*
    light 300
    regular 400
    medium 500
    semibold 600
    bold 700
    */

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    counter-reset: num;
}

h1, h2, h3, h4, p {
    margin: 0;
}

input:focus {
    outline: none;
}

picture {
    display: inline-block;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.title_primary {
    margin-bottom: 18px;
    font-size: 48px; 
    line-height: 72px;
    font-weight: 700;
    color: #373737;
}
.title_secondary {
    font-size: 40px;
    list-style: 58px;
    font-weight: 600;
    color: #373737;
}
.title_third{
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    color: #373737;
}

.block_text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}
.block_btn {
    max-width: max-content;
    display: inline-block;
    padding: 10px 22px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #FF5300;
    text-decoration: none;
}

.block {
    padding-top: 120px;
    padding-bottom: 150px;
}
.block_bg {
    background-color: #FFF7F4;
}
.block_top{
    margin-bottom: 15px;
    text-align: center;
}
.block_note {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}
.block_note_before::before, .block_note::after {
    content: '';
    position: absolute;
    top: 60%;
    width: 40px;
    height: 1px;
    background-color: #FF5300;
}
.block_note_before::before {
    left: -50px;
}
.block_note::after{
    right: -50px;
}


.block_breadcrumb_li:not(:last-child) {
    position: relative;
    margin-right: 20px;
}
.block_breadcrumb_li:not(:last-child):after {
    content: '-';
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Work Sans', sans serif;
    color: #373737;
}
.block_breadcrumb_item {
    font-family: 'Work Sans', sans serif;
    color: #373737;
    text-decoration: none;
}
.block_pagination {
    margin: 0;
    margin-top: 102px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block_pagination_item:not(:last-child) {
    margin-right: 18px;
    margin-bottom: 18px;
}

.block_pagination_link.active {
    color: #fff;
    background-color: #FF5300;
}

.block_pagination_link {
    display: inline-block;
    padding: 13px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Work Sans', sans serif;
    color: #FF5300;
    border: 1px solid #FF5300;
    text-decoration: none;
}


.header {
    padding: 30px 0;
    background-color: #FFF7F4;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_nav_link {
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #373737;
    text-decoration: none;
}

.header_nav_link.active {
    color: #FF5300;
}

.header_nav_li:last-child .header_nav_link {
    margin: 0;
    padding: 4px 15px;
    border: 1px solid #373737;
    border-radius: 6px;
}

.main {
    display: flex;
    align-items: center;
}

.main_left {
    padding-left: 25px;
}

.main_left, .main_picture {
    width: 50%;
}

.main_img {
    max-width: 100%;
}

.wwd_item {
    width: calc(100% / 3);
    padding: 15px;
}

.wwd_box {
    position: relative;
    height: 100%;
    padding: 30px 25px 0 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.wwd_box::before {
    counter-increment: num;
    content: "0" counter(num);
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #efefef;
}

.wwd_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wwd_type {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #7B7B7B;
}
.wwd_picture {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}
.wwd_img{
    max-width: 100%;
}
.wwd_box_title {
    margin-bottom: 5px;
    object-fit: contain;
    object-position: center;
}

.about {
    display: flex;
    align-items: center;
}
.abou_ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about_li{
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #373737;
}
.about_li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM9.003 14L16.073 6.929L14.659 5.515L9.003 11.172L6.174 8.343L4.76 9.757L9.003 14Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");;
    background-repeat: no-repeat;
    background-position: left center;
}
.about_title {
    margin-bottom: 20px;
}
.about_left {
    padding-right: 50px;
}

.about_left, .about_picture {
    width: 50%;
}

.about_img {
    max-width: 100%;
}
.cs_hidden {
    overflow: hidden;
}

.cs_ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    list-style: none;
    overflow-x: scroll;
}

.cs_list:first-child, .cs_list:hover {
    border-radius: 10px;
    background-color: #FF5300;
}


.cs_list:first-child .cs_link, .cs_list:hover .cs_link {
    color: #fff;
}


.cs_link {
    display: inline-block;
    padding: 15px 30px;
    min-width: 126px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color:#7B7B7B;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.cs_hover {
    position: absolute;
    top: 40px;
    left: 50px;
    bottom: 40px;
    right: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 83, 0, .75)
}
.cs_box:hover .cs_hover {
    display: flex;
}
.cs_boxes {
    display: flex;
    flex-wrap: wrap;
}

.cs_box {
    display: inline-block;
    position: relative;
    width: calc(100% / 3);
}

.cs_title {
    color: #FFFFFF;
    margin-top: 15px;
}

.cs_picture, .cs_img {
    width: 100%;
    height: 100%;
}

.testimonial_name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #FF5300;
}
.testimonial_role {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #7B7B7B;
}

.testimonial_picture {
    flex: none;
    display: inline-block;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    
}

.testimonial_img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.testimonial_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial_user_data {
    display: flex;
    align-items: center;
}

.testimonial_rating {
    margin-bottom: 10px;
}

.testimonial_box {
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.swiper-slide {
    height: auto;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
}
.swiper-button-prev::after {
    left: -35px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' transform='rotate(-180 25 25)' stroke='%23FF5300'/%3E%3Cpath d='M23.5349 25.0001L29.7224 31.1876L27.9549 32.9551L19.9999 25.0001L27.9549 17.0451L29.7224 18.8126L23.5349 25.0001Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");
}

.swiper-button-next::after {
    right: -35px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' stroke='%23FF5300'/%3E%3Cg clip-path='url(%23clip0_332_3824)'%3E%3Cpath d='M26.4651 24.9999L20.2776 18.8124L22.0451 17.0449L30.0001 24.9999L22.0451 32.9549L20.2776 31.1874L26.4651 24.9999Z' fill='%23FF5300'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_332_3824'%3E%3Crect width='30' height='30' fill='white' transform='translate(10 10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.testimonial_swiper {
    margin: 0 50px;
}

.testimonial_slider {
    position: relative;
}

.swiper-button-next .swiper-button-disabled, .swiper-button-prev .swiper-button-disabled {
    opacity: 1;
}

.swiper-button-prev .swiper-button-disabled::after {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' transform='rotate(-180 25 25)' stroke='%23FF5300'/%3E%3Cpath d='M23.5349 25.0001L29.7224 31.1876L27.9549 32.9551L19.9999 25.0001L27.9549 17.0451L29.7224 18.8126L23.5349 25.0001Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");

}

.swiper-button-next .swiper-button-disabled::after {

    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' stroke='%23FF5300'/%3E%3Cg clip-path='url(%23clip0_332_3824)'%3E%3Cpath d='M26.4651 24.9999L20.2776 18.8124L22.0451 17.0449L30.0001 24.9999L22.0451 32.9549L20.2776 31.1874L26.4651 24.9999Z' fill='%23FF5300'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_332_3824'%3E%3Crect width='30' height='30' fill='white' transform='translate(10 10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

}

.testimonal_top {
    margin-bottom: 60px;
}

.cap_value {
    color:#FF5300;
}

.cap_key {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #373737;
}

.block_cap, .cap_items {
    display: flex;
    align-items: center;
}
.cap_items {
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -12px;
    margin-top: 10px;
}

.cap_item {
    width: 25%;
    padding: 0 12px;
    padding-bottom: 14px;
}

.cap_item_content {
    height: 100%;
    padding: 15px 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.cap_left {
    width: 50%;
}
.cap_picture {
    width: 50%;
    padding-left: 10px;
}
.cap_img {
    max-width: 100%;
}
.cap_title {
    margin-bottom: 18px;
}

.cap_states {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
    border-radius: 10px;
    background-color: #FF5300;
}

.cap_state {
    position: relative;
    width: 25%;
    padding: 0 20px;
    margin: 30px 0;
    text-align: center;
}

.cap_state:not(:nth-child(4n)):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
}

.cap_state_title {
    margin-top: 4px;
    color: #fff;
}

.cap_state_text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff; 
}

.blog_items {
    display: flex;
    margin: 0 -15px;
}

.blog_item {
    width: calc(100% / 3);
    padding: 0 15px;
    
}
.blog_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 15px 15px 30px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.blog_item_title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #373737;
}

.blog_details {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blog_detail {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #373737;
}

.blog_detail:not(:last-child) {
    margin-right: 10px;
}

.blog_icon {
    margin-right: 5px;
}

.blog_picture, .blog_img {
    width: 100%;
    height: 100%;
    max-height: 225px;
}

.blog_img {
    object-fit: cover;
    border-radius: 10px;
}

.blog_picture {
    margin-bottom: 15px;
}

.blog_top {
    margin-bottom: 60px;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 40px;
    background-color: #FF5300;
    border-radius: 10px;
}

.newsletter_note, .newsletter_title{
    color: #fff;
}

.newsletter_note::after {
    background-color: #fff;
}

.newsletter_form {
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.newsletter_btn {
    padding: 15px 36px;
    border: none;

}

.newsletter_inp {
    width: 100%;
    padding: 0 25px;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

.newletter_inp::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.footer {
    background-image: url('../img/backroundimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_info {
    margin: 0 -10px;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer_title {
    margin-bottom: 20px;
    color: #FF5300;
}

.footer_text {
    margin-bottom: 0;
    color: #fff;
}

.footer_link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
}

.footer_social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 100%;

}

.footer_item {
    width: 25%;
    padding: 0 10px;
}
.footer_item:last-child { 
    display: flex;
    justify-content: flex-end;
}

.footer_logo {
    margin-bottom: 6px;
}

.footer_social:not(:last-child) { 
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer_copyright {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
    
}
.footer_copyright_text {
    position: relative;
    padding-left: 42px;
    margin-right: 100px;
    font-family: 'Work Sans', sans-serif;
}

.footer_copyright_text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C15.52 0 20 4.48 20 10C20 15.52 15.52 20 10 20C4.48 20 0 15.52 0 10C0 4.48 4.48 0 10 0ZM10 2C5.58 2 2 5.58 2 10C2 14.42 5.58 18 10 18C14.42 18 18 14.42 18 10C18 5.58 14.42 2 10 2ZM10 5C11.82 5 13.413 5.973 14.288 7.428L12.574 8.457C12.3043 8.00724 11.9213 7.63605 11.4634 7.38045C11.0055 7.12484 10.4885 6.99374 9.96412 7.00023C9.43971 7.00672 8.92617 7.15056 8.4747 7.41742C8.02323 7.68428 7.6496 8.06483 7.39107 8.52112C7.13254 8.97742 6.99815 9.49351 7.00128 10.0179C7.00442 10.5424 7.14498 11.0568 7.40895 11.51C7.67292 11.9632 8.05107 12.3392 8.5057 12.6007C8.96033 12.8621 9.47556 12.9998 10 13C10.5181 13.0003 11.0275 12.8664 11.4785 12.6112C11.9294 12.356 12.3065 11.9883 12.573 11.544L14.288 12.572C13.726 13.5106 12.8716 14.239 11.8559 14.6453C10.8402 15.0517 9.71922 15.1137 8.6649 14.8217C7.61058 14.5298 6.68114 13.9 6.01914 13.029C5.35713 12.1581 4.99912 11.094 5 10C5 7.24 7.24 5 10 5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

.footer_copyright_link{
    position: relative;
    margin-bottom: 0;
    padding-left: 28px;
    color: #fff;
    text-decoration: none;
}
.footer_copyright_link:not(:last-child){
    margin-right: 20px;
}


.footer_copyright_link::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #FF5300;
    border-radius: 100%;

}


/* blog page */


.blog_container {
    display: flex;
    flex-wrap: wrap;
}

.blog_posts {
    width: 70%;
    padding-right: 30px;
}
.blog_aside {
    width: 30%;
}
.blog_search {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.blog_search_inp {
    width: 100%;
    padding: 22px 30px;
    border: none;
}
.blog_search_inp::placeholder {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}
.blog_search_submit {
    padding: 12px;
    padding-right: 30px;
    border: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 11C5 7.691 7.691 5 11 5C14.309 5 17 7.691 17 11C17 14.309 14.309 17 11 17C7.691 17 5 14.309 5 11ZM20.707 19.293L17.312 15.897C18.365 14.543 19 12.846 19 11C19 6.589 15.411 3 11 3C6.589 3 3 6.589 3 11C3 15.411 6.589 19 11 19C12.846 19 14.543 18.365 15.897 17.312L19.293 20.707C19.488 20.902 19.744 21 20 21C20.256 21 20.512 20.902 20.707 20.707C21.098 20.316 21.098 19.684 20.707 19.293Z' fill='%237B7B7B'/%3E%3Cmask id='mask0_161_644' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='3' width='19' height='18'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 11C5 7.691 7.691 5 11 5C14.309 5 17 7.691 17 11C17 14.309 14.309 17 11 17C7.691 17 5 14.309 5 11ZM20.707 19.293L17.312 15.897C18.365 14.543 19 12.846 19 11C19 6.589 15.411 3 11 3C6.589 3 3 6.589 3 11C3 15.411 6.589 19 11 19C12.846 19 14.543 18.365 15.897 17.312L19.293 20.707C19.488 20.902 19.744 21 20 21C20.256 21 20.512 20.902 20.707 20.707C21.098 20.316 21.098 19.684 20.707 19.293Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_161_644)'%3E%3Crect width='24' height='24' fill='%237B7B7B'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.aside_box {
    margin-bottom: 40px;
    padding: 40px 18px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.blog_aside_title {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Work Sans', sans serif;
    color: #373737;
}

.latest_picture {
    width: 60px;
    height: 60px;
    flex: none;
    margin-right: 17px;
}

.latest_img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.latest_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans serif;
    color: #373737;
}

.latest_post {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.latest_post:not(:last-child) {
    margin-bottom: 30px;
}

.aside_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cat_link {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans serif;
    color: #7B7B7B;
    text-decoration: none;
}

.cat_item:not(:last-child) {
    margin-bottom: 15px;
}

.cat_num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border: 1px solid #7b7b7b;
}

.tag_link {
    padding: 4px 14px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Work Sans', sans serif;
    color: #7B7B7B;
    text-decoration: none;
    background-color: #FFF7F4;
}

.tag_item:not(:last-child) {
    margin-right: 18px;
    margin-bottom: 18px;
}

.tag_list {
    display: flex;
    flex-wrap: wrap;
}

.blog_post {
    margin-bottom: 42px;
}

.blog_post_picture {
    width: 100%;
    height: 400px;
    margin-bottom: 22px;
}
.blog_post_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_post_detail:not(:last-child) {
    margin-right: 30px;
}

.blog_post_detail {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Work Sans', sans serif;
    color: #7B7B7B;
}

.blog_detail_icon {
    margin-right: 18px;
}

.blog_post_title {
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 31px;
    line-height: 38px;
    font-weight: 600;
    font-family: 'Work Sans', sans serif;
    color: #373737;
}

.blog_post_content {
    padding: 18px;
}


/* 
    1400px //big
    1050px //small laptop
    992px //mini laptop
    767px //ipad
    576px //phone
    320px //min width
*/

@media (max-width: 1400px) {
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 25px;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 25px;
    }
    .blog_detail {
        line-height: 12px;
    }
}
@media (min-width: 993px) {
    .header_burger{
        display: none;
    }
}

@media (max-width: 992px) { /* -10% */
    .title_primary {
        font-size: 43px;
        line-height: 64px;
    }
    .title_secondary {
        font-size: 36px;
        line-height: 52px;
    }
    .title_third {
        font-size: 23px;
        line-height: 34px;
    }
    .header_nav {
        display: none;
        padding-top: 30px;
    }
    .header_nav_link {
        font-size: 25px;
        line-height: 35px;
    }
    .header_nav_li {
        margin: 15px 0;
    }
    .header_nav_li:last-child .header_nav_link {
        display: inline-block;
        margin-top: 20px;
        margin: 0 15px;
    }
    .menu-open {
        overflow: hidden;
    }

    .menu-open .header_nav{
        position: absolute;
        top: 105px;
        left: 15px;
        display: block;
        background-color: #fff;
        width: calc(100% - 30px);
        height: calc(100% - 120px);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);
        
    }
   

    .wwd_box:before {
        font-size: 57px;
        line-height: 66px;
    }

    .cs_hover {
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .cs_icon {
        width: 35px;
        height: 35px;
    }
    .testimonial_quotes {
        width: 32px;
        height: 25px;
        flex: none;
    }

    .cap_item {
        width: 50%;
    }
    .footer_link {
        font-size: 16px;
        line-height: 24px;
    }
    .footer_copyright_text {
        margin-left: 50px;
    }

    .blog_post, .blog_aside {
        width: 100%;
    }

    .blog_post {
        order: 2;
        padding-right: 0;
    }

    .blog_aside {
        order: 1;
    }

}


@media (max-width: 767px) {
    .block {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main, .about {
        display: block;
    }
    .main_left, .main_picture, .about_left, .about_picture {
        width: 100%;
    }
    .main_left, .about_left {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .main_picture, .about_picture {
        display: flex;
        justify-content: center;
    }

    .wwd_item, .cs_box {
        width: 50%;
    }

    .cs_boxes {
        justify-content: center;
    }
    .testimonial_quotes {
        display: none;
    }

    .cap_left, .cap_picture {
        width: 100%;
    }
    .cap_picture {
        padding-left: 0;
    }
    .block_cap {
        display: block;
    }
    .cap_left {
        margin-bottom: 20px;
    }

    .cap_state {
        width: 50%;
        padding: 0 10px;
        margin: 20px 0;
    }
    .cap_state:not(:nth-child(4n)):after {
        width: 0;
    }
    .cap_state:not(:nth-child(2n)):after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #fff;
        border-radius: 4px;
    }
    .cap_states {
        margin-top: 60px;
        padding: 20px 0;
    }

    .blog_items {
        justify-content: center;
    }
    .blog_item {
        width: 50%;
        margin-bottom: 30px;
    }
    .newsletter_left, .newsletter_form {
        width: 100%;
    }
    .newsletter_left {
        margin-bottom: 30px;
    }
    .footer_info {
        padding-bottom: 20px;
    }
    .footer_item {
        width: 50%;
        margin-bottom: 20px;
        
    }
    .footer_item:last-child {
        justify-content: flex-start;
    }
    .footer_copyright_text{
        margin-left: -2px;
        width: 100%;
        order: 3;
    }
    .footer_copyright_link {
        margin-bottom: 10px;
    }

    .blog_post_detail {
        font-size: 18px;
    }
    .blog_post_title {
        margin-top: 20px;
    }
    .blog_post_picture {
        margin-bottom: 0;
    }

}

    @media (max-width: 576px) { /* -10% */
   
     .title_primary {
        font-size: 34px;
        line-height: 51px;
    }
    .title_secondary {
        font-size: 32px;
        line-height: 46px;
    }
    .title_third {
        font-size: 20px;
        line-height: 30px;
    }
    .block_note_before:before, .block_note:after {
        top: 60%;
        width: 25px;
    }
    .block_note_before::before {
        left: -35px;
    }
    .block_note::after {
        right: -35px;
    }    

    .block_pagination {
        margin-top: 50px;
    }
    .wwd_item, .cs_box {
        width: 100%;
    }
    .wwd_picture {
        width: 60px;
        height: 60px;
    }
    .wwd_box:before {
        font-size: 50px;
        line-height: 60px;
    }

    .cs_link {
        font-size: 18px;
        line-height: 26px;
    }

    .testimonial_swiper {
        margin: 0;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next {
        display: none;
    }
    .blog_itme {
        width: 100%;
        margin-bottom: 15px;
    }
    .newsletter_form {
        display: block;

    }
    .newsletter_btn {
        width: 100%;
    }
    .newletter_inp {
        padding: 18px 20px;
    }
    .newsletter {
        padding: 30px 20px;
    }
    .footer_item {
        width: 100%;
    }
    .blog_post_content {
        padding: 6px;
    }
}